<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="canvasjs.min.js"></script>
        <script type="text/javascript" src="d3.min.js"></script>
        <script type="text/javascript" src="dagre-d3.min.js"></script>
        <script type="text/javascript" src="graph.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript">
        $(function() {
            $(".tab-nav li").click(function(e) {
                e.preventDefault();
                $ul = $(this).parent();
                $ul.find("li").removeClass("active");
                $(this).addClass("active");

                var tabId = $(this).find('a').attr("href");
                $(this).parent().parent().find(".tab-content").hide();
                $(tabId + ".tab-content").fadeIn();
                return true;
            });

            setTimeout(function() {
                $(".tab-container").each(function() {
                    $(this).find(".tab-content").slice(1).hide();
                });
                $("div.loading").remove();
                $("div.page-container").animate({opacity: 1.0}, 500);
            }, 1000);            
        });
        </script>
    </head>
    <body>
        <div class="loading">Loading...</div>
        {%- macro tab_nav(id, name, active) -%}
            {% set navclass = "" %}
            {% if active %}
                {% set navclass = "active" %}
            {% endif %}            
            <li class="{{ navclass }}"><a href="#tab-{{ name }}-{{ id }}">{{ name }}</a></li>
        {% endmacro %}
        {%- macro tab(id, name, content, active) -%}
            {% set tabstyle = "" %}
            {% if active %}
                {% set tabstyle = "display: block;" %}
            {% endif %}
            <div id="tab-{{ name }}-{{ id }}" class="tab-content" style="{{ tabstyle }}">
                {{ content }}
            </div>
        {% endmacro %}
        <div class="page-container">
        {% if primitives %}
            {{ primitives }}
        {% endif %}

        {% if workloads %} 
        <fieldset>
        <legend>Real World Applications</legend>
            <div class="tab-container">
                <ul class="tab-nav">
                {% for name, workload in workloads %}
                    {{ tab_nav(loop.index, name, loop.first) }}
                {% endfor %}
                </ul>
                <div class="clearfix"></div>
                <div class="tab">
                    {% for name, workload in workloads %}
                        {{ tab(loop.index, name, workload, loop.first) }}
                    {% endfor %}
                </div>
            </div>
        </fieldset>
        {% endif %}

        <div class="footer">
            Cloud Workloads - Version {{ version }} | <a href="/archive/">Archives</a>
        </div>
        </div>
    </body>
</html>
