<div class="application" id="mysql">
    <h3>MySQL</h3>
    <div class="scores">
        <table>
        <tr>
            <td class="score-label">NOTPM</td>
            <td class="score-value">{{tpm}}</td>
        </tr>
        <tr>
            <td class="score-label">Warehouses</td>
            <td class="score-value">{{warehouses}}</td>
        </tr>
        </table>
    </div>

    <div class="explanation">
        <p>
        Load is applied to a single 8GB MySQL node via the DBT-2 performance
        benchmark. The test continues to run with each iteration consuming one
        additional warehouse than the previous. The first iteration consumes 1
        warehouse. The nth iteration consumes n warehouses. The key measurement
        is the number of new order transactions per minute(NOTPM). Iterations
        continue until there aren't any significant gains of NOTPM over
        previous iterations.
        </p>

        <p>
            <a href="http://www.mysql.com/">MySQL</a>,
            <a href="http://sourceforge.net/apps/mediawiki/osdldbt/index.php?title=Main_Page">DBT-2</a>
        </p>
    </div>
    
    <div class="clearfix"></div>
    {% if minion_graph %}
    <div class="graph-container">
        <h4>Workload layout</h4>
        <div class="graph minion-graph" id="mysql-minion-graph">
        </div>
    </div>
    {% endif %}

    <div class="graph-container">
        <h4 class="title">New Order Transactions Per Minute(NOTPM)</h4>
        <div class="graph" id="mysql-notpm-graph"></div>
    </div>
    <script type="text/javascript">
    $(function() {

        {% if minion_graph %}
        var roleMap = {
            'dbt2': 'DBT2',
            'dbt2_db': 'MySQL'
        }
        var minion_nodes = {{ minion_graph.nodes }};
        minion_nodes = renderPrettyRoles(roleMap, minion_nodes);
        var minion_edges = {{ minion_graph.links }};
        var minionGraph = new MinionGraph(minion_nodes, minion_edges);
        minionGraph.render("#mysql-minion-graph");
        {% endif %}

        var graph = {
            theme: "theme1",
            toolTip: {shared: "true"},
            axisY: {title: "NOTPM"},
            axisX: {title: "Warehouses"},
            data: [{
                type: "spline",
                showInLegend: true,
                name: "NOTPM",
                dataPoints: {{tpm_plot}}
            }]
        }

        var chart = new CanvasJS.Chart("mysql-notpm-graph", graph);
        chart.render();
    });
    </script>
</div>
