{% from "strings.jinja" import strings with context %}

{%- macro breakdown(score_info, total) -%}
    <table class="breakdown">
    <tr>
        <td class="label"></td>
        <td class="label">Measured</td>
        <td class="label">Score</td>
    </tr>
    {% for key, value in score_info.iteritems() %}
    <tr>
        <td class="value left">{{ strings.get(key, key) }}</td>
        <td class="value">{{ "%.2f %s" % (value['score']|float, value.get('units', '')) }}</td>
        <td class="value">{{ "%.2f" % value['weighted_score']|float }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td class="total" colspan="2">Total Score</td>
        <td class="value">{{ "%.2f" % total|float }}</td>
    </tr>
    </table>
{% endmacro %}

<fieldset id="scores">
<legend>Your Score</legend>
    <div id="scores-chart">
        <table>
        <tr>
            <td class="score overall" rowspan="3" id="primitives-overall">{{ overall_score }}</td>
            <td class="label individual">CPU</td>
            <td class="score individual" id="primitives-cpu">{{ cpu_score }}</td>
        </tr>
        <tr>
            <td class="label individual">IO</td>
            <td class="score individual" id="primitives-io">{{io_score}}</td>
        </tr>
        <tr>
            <td class="label individual">Network</td>
            <td class="score individual" id="primitives-network">{{network_score}}</td>
        </tr>
        </table>
    </div>

    <div id="scores-explanation">
        <h3>What does this mean?</h3>
        <p> The primitive benchmarks assess the performance of common low level operations.
            After the benchmarks are run the pertinent data is normalized and aggregated
            using an algorithm based on weighted averages.
            This aggregation produces a single number for each type of benchmark
            representing the score of that benchmark. These individual scores are then
            combined to produce the final score for all of the primitive benchmarks. The
            types of benchmarks included test the performance of CPU, disk and network
            operations. More specifically unixbench, filebench and iperf are used.</p>

        <div class="tab-container">
            <ul class="tab-nav">
                {% if overall_scores %}
                <li class="active"><a href="#breakdown-overall">Overall</a></li>
                {% endif %}
                {% if cpu_scores %}
                <li><a href="#breakdown-cpu">CPU</a></li>
                {% endif %}
                {% if io_scores %}
                <li><a href="#breakdown-io">IO</a></li>
                {% endif %}
                {% if network_scores %}
                <li><a href="#breakdown-network">Network</a></li>
                {% endif %}
            </ul>
            <div class="clearfix"></div>
            <div class="tab">
                {% if overall_scores %}
                <div id="breakdown-overall" class="tab-content" style="display: block;">
                    {{ breakdown(overall_scores, overall_score) }}
                </div>
                {% endif %}
                {% if cpu_scores %}
                <div id="breakdown-cpu" class="tab-content">
                    {{ breakdown(cpu_scores, cpu_score) }}
                </div>
                {% endif %}
                {% if io_scores %}
                <div id="breakdown-io" class="tab-content">
                    {{ breakdown(io_scores, io_score) }}
                </div>
                {% endif %}
                {% if network_scores %}
                <div id="breakdown-network" class="tab-content">
                    {{ breakdown(network_scores, network_score) }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</fieldset>
