{% set strings = {
    'run_1': 'Single Core Index',
    'run_2': 'Multi Core Index',
    'conn_0': 'Outgoing',
    'conn_1': 'Incoming',
    'randomrw.f': 'Random read and write',
    'singlestreamread.f': 'Sequential read',
    'singlestreamwrite.f': 'Sequential write',
    'singlestreamwritedirect.f': 'Sequential write direct',
    'unixbench': 'CPU (Unixbench)',
    'filebench': 'IO (Filebench)',
    'iperf': 'Network (Iperf)'
} %}
